/*
 * background login view, registration view, game view
 * Herren
 */
#background{
	-fx-background-image:url("ui/images/background/holz.jpg");
}

/*
 * all labels
 * Herren
 */
.label{
	-fx-text-fill:black;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 18px;
	-fx-letter-spacing: 2px;
	-fx-word-spacing: 2px;
	-fx-font-weight: bold;
	-fx-text-decoration: none;
	-fx-font-style: italic;
	-fx-font-variant: small-caps;

	
	-fx-alignment: center;
	-fx-padding: 2.0px;
    -fx-font-weight: bold;
    -fx-border-width: 2.0px;

}

/*
 * all buttons
 */
.button{
	-fx-text-fill:white;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 18px;
	-fx-letter-spacing: 2px;
	-fx-word-spacing: 2px;
	-fx-font-weight: 700;
	-fx-text-decoration: none;
	-fx-font-style: italic;
	-fx-font-variant: small-caps;
	-fx-text-transform: none;
	
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #2B272B 0%, #3D383D 100%),
        #524B52,
        #5C545C,
        radial-gradient(center 50% 50%, radius 100%, #2B272B, #3D383D);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover{
	    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #3D383D 0%, #454545 100%),
        #454545,
        #3D383D,
        radial-gradient(center 50% 50%, radius 100%, #575757, #636363);
        }
/*
 * textfield login view
 */
        
#textField{
	-fx-text-fill:black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 16px;
	-fx-letter-spacing: 2px;
	-fx-word-spacing: 2px;
	-fx-font-weight: 700;
	-fx-text-decoration: none;
	-fx-font-style: italic;
	-fx-font-variant: small-caps;
	-fx-text-transform: none;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 );
}

#splash {
	-fx-background-color: transparent;
	-fx-background-size: 300 300;
}

.progress-bar>.bar {
	-fx-background-color: #a3d77d;
}

#center {
	-fx-background-image: url("dreiblatt.jpg");
	-fx-background-color: grey;
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#progressbox {
	-fx-alignment: center;
}
#cardimage {
	-fx-padding: 1;
	-fx-background-color: firebrick;
	-fx-background-radius: 20;
}
#message{
	-fx-font-size: 16px;
	-fx-text-fill: #CC2200;
	-fx-border-color: #CC2200;
}



list{
    -fx-spacing: 70.0px;
}

.list-cell{
	-fx-font-size:15.0;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-text-fill:black;
	-fx-font-size: 16px;
	-fx-letter-spacing: 2px;
	-fx-word-spacing: 2px;
	-fx-font-weight: bold;
	-fx-text-decoration: none;
	-fx-font-style: italic;
	-fx-font-variant: small-caps;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 )
}

.list-cell:filled:hover {
    -fx-background-color: #3D383D;
    -fx-text-fill: white;
}