#splash {
	-fx-background-color: transparent;
	-fx-background-size: 300 300;
}

.progress-bar>.bar {
	-fx-background-color: #a3d77d;
}

#center {
	-fx-background-image: url("splash_background.gif");
	-fx-background-color: transparent;
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#progressbox {
	-fx-alignment: center;
}